<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.jancur.sbdemo">
  <Appenders>
    <Async name="Async">
      <!--Async every 200 events unless mem usages is low-->
      <buffersize>${env:ASYNC_LOGGER_BUFFERSIZE:-200}</buffersize>
      <AppenderRef ref="jsonStdOut" />
    </Async>

    <Console name="jsonStdOut" >
      <JsonLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"
                  objectMessageAsJsonObject="true">
        <KeyValuePair key="appName" value="$${env:APP_NAME:-unknown-app}"/>
        <KeyValuePair key="envName" value="$${env:ENV_NAME}"/>
        <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSSZ}"/>
      </JsonLayout>
    </Console>

    <Console name="humanReadableStdOut" >
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZ} %t [%-5p] %c context=%X %m%n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Root level="ALL">
      <!-- Sets the root logger level default to INFO -->
      <AppenderRef ref="Async" level="${env:APP_LOG_LEVEL:-INFO}" />
      <!-- Sets the Human readable stdout appender to off by default, but can be overridden by devs running app locally -->
      <AppenderRef ref="humanReadableStdOut" level="${env:HUMAN_READABLE_APP_LOG_LEVEL:-OFF}" />
    </Root>
  </Loggers>

</Configuration>